.category-user-container {
    background-color: #FFFFFE;
    padding: 20px 30px;
    margin: 0px auto;
    width: 400px;
    text-align: center;
}

.category-user-container h2 {
    color: #43EA80;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.category-user-box {
    margin-top: 10px;
    width: 100%;
}

.category-user-box input {
    width: 100%;
    padding: 10px 0px;
    border: none;
    outline: none;
    border-bottom: 1px solid #868686;
}

.category-user-container button {
    margin: 20px auto 0;
    padding: 10px 30px;
    border: none;
    outline: none;
    background-color: #2196F3;
    color: #FFFFFE;
    cursor: pointer;
    margin-left: 14px;
}

.category-user-edit {
    padding: 20px 40px;
    width: 100%;
}

.category-user-edit h2 {
    color: #43EA80;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}

.category-user-container-edit {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.category-user-box-edit {
    padding: 10px 20px;
    margin: 20px 20px 0 0;
    background-color: #FFFFFE;
    border-radius: 5px;
}

.category-user-box-edit h2 {
    font-size: 18px;
    margin: 0;
}

.category-user-box-edit button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #2196F3;
    color: #FFFFFE;
    border: none;
    outline: none;
    cursor: pointer;
}

.category-user-goback {
    color: #FFFFFE;
    align-self: flex-end;
    cursor: pointer;
    margin-left: 30px;
}

.category-user-error {
    margin-top: 10px;
    color: #ff6961;
    font-size: 13px;
}
